.mainAbout {
  display: flex;
  align-items: center;
  padding: 104px;
  background-color:#3A10E5;
}
.innerAbout {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    justify-content: space-between;
}
.aboutImageContainer {
    width: 50%;
    display: grid;
    flex: 0.5;
}
.aboutImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.aboutContent {
    display: grid;
    flex: 0.5;
    border: 1px solid black;
}