.navMainContainer {
    position: sticky;
    top: 0;
    display: flex;
    height: 64px;
    width: 100%;
    background-color: #10162F;
    border-bottom: 2px #FFD300 solid;
}
.navInner {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.logoNavbar {
    align-items: center;
    justify-content: flex-start;
}
.listOfNavs {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.listItemStyle {
    color: #FFFFFF;
    font-weight: 500;
    font-size: large;
    text-decoration:none;
}
.listItemStyle:hover {
    color: #FFD300;
    text-decoration:underline;
}
.resumeButton {
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    font-weight: 600;
    font-size: small;
    border: 0px;
}
.resumeButton:hover {
    border: 0.5px solid black;
    box-shadow: -2px 2px 1px 1px #FFD300;
}